.{
    margin:0;
    padding:0;
    text-align:center;
    }
    
    h1{
    background-color:black;
    color:white;
    height:1.5cm;
    text-align:center;
    line-height:1cm;
    }
    
    .msg-container{
    text-align:center;
    }
    
    #msg{
    text-align:center;
    background-color:black;
    color:white;
    font-size:0.75cm;
    margin-top:0.75cm;
    display:inline;
    padding:0.25cm;
    border-radius:0.50cm;
    }
    
    .Score-board{
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1cm;
    margin-top:0.75cm;
    gap:1cm;
    }
    
    .choice{
    height:165px;
    width:165px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    
    }
    
    .choice:hover{
    background-color:black;
    cursor:pointer;
    }
    
    img{
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius:50%;
    
    }
    
    .choices{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.75cm;
    margin-top:0.50cm;
    }
    
    #user-score,
    #comp-score{
    font-size:1cm;
    }
    